@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline: none;
}

.container {
    width: 1200px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #002f34;
}

::-webkit-scrollbar-track {
    background: #fff;
}

nav {
    background: #002f34;
    padding: 20px 0;
    box-shadow: 0 0 15px #002f34;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .Logo {
    color: aqua;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 1px;
}

.navigation ul {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #fff;
}

header {
    background: #f2f4f5;
}

header input {
    width: 100%;
    padding: 30px;
    font-size: 20px;
    border: none;
    margin: 50px 0;
    color: #002f34;
}

header input::placeholder {
    color: #002f34;
}

.catalog-1,
.catalog-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.catalog-1 a,
.catalog-2 a {
    width: 150px;
    height: 150px;
    background: rgb(0, 255, 255);
    box-shadow: 7px 7px 7px #ccc, 5px 5px 10px 0px rgba(0, 0, 0, .3) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    color: #002f34;
    font-size: 18px;
    font-weight: 500;
    border: 5px solid rgba(0, 0, 0, .4);
}

.heading {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-weight: 500;
}

.card-section {
    background: #f2f4f5;
    padding-top: 100px;
}
.card-section .container{
    display: flex;
    justify-content: space-between;
}
.card {
    width: 270px;
    background: #fff;
}

.card .img img {
    width: 270px;
    height: 320px;
}