form{
    width: 850px;
    margin: auto;
    margin-top: 50px;
}

form .all {
    display: flex;
    justify-content: space-between;
}
input{
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #002f34;
    color: #002f34;
}

input::placeholder{
    color: #002f34;
}

button{
    background: #002f34;
    color: #fff;
    border: none;
    padding: 18px 20px;
    text-transform: uppercase;
    letter-spacing: 1px ;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container form .a{
    color: #024e56;
    text-decoration: underline;
}